---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controller:
      type: statefulset
    image:
      repository: ghcr.io/esphome/esphome
      tag: 2026.2.2
    env:
      TZ: "${TIMEZONE}"
      ESPHOME_DASHBOARD_USE_PING: true
    service:
      main:
        ports:
          http:
            port: 6052
    hostNetwork: true
    dnsPolicy: ClusterFirstWithHostNet
    ingress:
      main:
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: "chip"
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        enabled: true
        ingressClassName: "nginx"
        hosts:
        - host: "esphome.${SECRET_DOMAIN}"
          paths:
          - path: /
            pathType: Prefix
        tls:
        - hosts:
          - "esphome.${SECRET_DOMAIN}"
          secretName: "esphome-tls"
    persistence:
      esphome-cache:
        enabled: true
        type: emptyDir
        mountPath: /config/.esphome
      config:
        enabled: true
        existingClaim: esphome-config-v1
    resources:
      requests:
        cpu: 300m
        memory: 512M
      limits:
        memory: 2048M
