---

name: Lint

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:

jobs:
  yaml:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: yamllint
      uses: reviewdog/action-yamllint@v1
      with:
        github_token: ${{ secrets.github_token }}
        reporter: github-pr-review
        yamllint_flags: '-c .github/yamllint.config.yaml ./cluster/'
